{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
        {% block title %}
        Blog
        {% endblock %}
    </title>
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% comment %} <a class="nav-link active" aria-current="page" href="#">Home</a> {% endcomment %}
              {% comment %} </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a> {% endcomment %}
                {% comment %} <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown"> {% endcomment %}
                  {% comment %} <li><a class="dropdown-item" href="#">Action</a></li> {% endcomment %}
                  {% comment %} <li><a class="dropdown-item" href="#">Another action</a></li> {% endcomment %}
                  {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                  {% comment %} <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
                </ul>
              </li>
              <li class="nav-item">
                {% comment %} <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> {% endcomment %}
              </li>
            </ul>
            <form class="d-flex">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
            <a href="{% url 'tweet_list' %}" class="btn btn-primary mx-2">Home</a>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-primary mx-2">Register</a>
            <a href="{% url 'login' %}" class="btn btn-primary mx-2">Login</a>
            {% endif %}
          </div>
        </div>
        <style>
          body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
          }
          .footer {
              background-color: #333;
              color: white;
              text-align: center;
              padding: 10px 0;
              position: fixed;
              width: 100%;
              bottom: 0;
          }
          .footer a {
              color: #f1f1f1;
              text-decoration: none;
              padding: 0 10px;
          }
          .footer a:hover {
              text-decoration: underline;
          }
          .footer p {
              font-size: 2rem;  /* Corrected property to increase text size */
          }
      </style>
  </head>
  <body>
      <div class="content">
          <!-- Your content goes here -->
      </div>
  
      <div class="footer">
          <p>Developed By Arham Fareed</p>
      </div>
      </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlCI1TUjmWdfn5OGqBfFtrcFos59dZJymoxSB/EUj1WT+EovxPqUkk+9IJR" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWi2A3eQP2IBknmE64hzuqj6c8pk4MpyfDOMN0l8zkAHKn9u77LQKw+z5i" crossorigin="anonymous"></script>
</body>
</html>
