{% extends "layout.html" %}

{% block title %}
Blog for Everyone
{% endblock %}

{% block content %}
<h1 class="text-center">
    Welcome To Django Blog App
</h1>
<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create Blog</a>
<div class="container row gap-3">
    
    {% for tweet in tweets %}
    <div class="card bg-dark text-light" style="width: 18rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {%if tweet.user == user %}
            <a href=" {% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {%endif %}
        </div>
    </div>
    
    {% endfor %}
        
</div>
{% endblock %}
